{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-primary"> devoirs1bis3 ouai y eu des problemes </h1>
{% endblock %}